/*
This is an example of how to use the image sprite in your own CSS files
*/
.mysprite {
	background-image: url('mysprite.sprite.png');
	background-repeat: no-repeat;
	display: inline-block;
}
.mysprite.badgelogo {
	width: 96px;
	height: 96px;
	background-position: -10px -10px;
}
